<h1>Listing citas</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cliente</th>
    <th>Tipo</th>
    <th>Fecha</th>
    <th>Venta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @citas.each do |cita| %>
  <tr>
    <td><%= cita.user %></td>
    <td><%= cita.cliente %></td>
    <td><%= cita.tipo %></td>
    <td><%= cita.fecha %></td>
    <td><%= cita.venta %></td>
    <td><%= link_to 'Show', cita %></td>
    <td><%= link_to 'Edit', edit_cita_path(cita) %></td>
    <td><%= link_to 'Destroy', cita, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cita', new_cita_path %>
